@model DigiLib.Models.Url

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Url</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrlName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Urls)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Urls)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
